In [2]:
print("Day8 of Learning Python Programming")

Day6 of Learning Python Programming

In [ ]:
Simple statistics with list of numbers

In [69]:
digits = [1,2,5,6,6,10,14,73,900]
digits_2 = [1,-2,6,6,10,14,73,100,5]

print(digits)
print(digits_2)

[1, 2, 5, 6, 6, 10, 14, 73, 900]
[1, -2, 6, 6, 10, 14, 73, 100, 5]

In [70]:
#Minimum value of list ---->  min(list_name)
min(digits)

1

In [71]:
min(digits_2)

-2

In [72]:
#Maximum value of the list -----> max(list_name)
max(digits)

900

In [73]:
max(digits_2)

100

In [74]:
#Sum of the digits of the list -----> sum(list_name)
sum(digits)

1017

In [75]:
sum(digits_2)

213

In [76]:
#Working with part of the list
'''
slicing of list :
list_name[start_postition:end_position+1]
as stop position is always exclusinve
'''
students = ['theja','arohi','arjun','adviath','jaya','vishwa','preethi']
print(students)

['theja', 'arohi', 'arjun', 'adviath', 'jaya', 'vishwa', 'preethi']

In [77]:
#Req :  Allocating 2 students in a group
print(students[0:2])

['theja', 'arohi']

In [78]:
print(students[2:4])

['arjun', 'adviath']

In [79]:
print(students[4:6])

['jaya', 'vishwa']

In [80]:
print(students[6:8])

['preethi']