In [2]:
print("Day6 of Learning Python Programming")

Day6 of Learning Python Programming

In [ ]:
Introduction to looping statements

In [ ]:
#Understanding of for loop
'''
General syntax :
for tempvar in mainvar:
    statement_to_be_executed_inside_loop ------> Indentation is one tab
'''

In [3]:
students = ['thejasvi','vamsi','shobhit','arohi','jayashree']
print(students)

['thejasvi', 'vamsi', 'shobhit', 'arohi', 'jayashree']

In [4]:
#Req 1 : To split out the students individually from the list
for student in students:
    print(student)

thejasvi
vamsi
shobhit
arohi
jayashree

In [7]:
#Req 2 : Sending appreciation message to each and every student
for student in students:
    print(f"Appreciate your work, keep up the good work {student.title()}")

Appreciate your work, keep up the good work Thejasvi
Appreciate your work, keep up the good work Vamsi
Appreciate your work, keep up the good work Shobhit
Appreciate your work, keep up the good work Arohi
Appreciate your work, keep up the good work Jayashree

In [10]:
#multiple statements inside the for loop block
for xyz in students:
    print(f"Appreciate your work, keep up the good work {xyz.title()}")
    print(f"Looking for all your pratice files today as well {xyz.title()}\n")
print("Thank you")

Appreciate your work, keep up the good work Thejasvi
Looking for all your pratice files today as well Thejasvi

Appreciate your work, keep up the good work Vamsi
Looking for all your pratice files today as well Vamsi

Appreciate your work, keep up the good work Shobhit
Looking for all your pratice files today as well Shobhit

Appreciate your work, keep up the good work Arohi
Looking for all your pratice files today as well Arohi

Appreciate your work, keep up the good work Jayashree
Looking for all your pratice files today as well Jayashree

Thank you

In [ ]:
#Understanding of range operator
'''
General sysntax :
       range(start_value,stop_value,step/increment)

stop_value in range is always exclusive
'''

In [12]:
#Making a numerical list with for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [16]:
#Get a numerical list using range operator
num_list = list(range(1,20))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
#Getting even number list
even_list = list(range(2,48,2))
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]