In [35]:
print("Day5 of learning Python Programming")

Day4 of learning Python Programming

In [64]:
my_students = ['ashok','ravi','harshini','anand']
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [65]:
#req = I want to use the value(person name)
my_students.remove('ravi')
print(my_students)

['ashok', 'harshini', 'anand']

In [66]:
#Introduction to organising a list
cars = ['maruthi','bmw','audi','toyota','honda','benz']
print(cars)

['maruthi', 'bmw', 'audi', 'toyota', 'honda', 'benz']

In [67]:
#Sorting a list permanently ------- sort()
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'toyota']

In [71]:
print(cars)
my_students = ['ravi','ashok','harshini','anand']
print(my_students)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'toyota']
['ravi', 'ashok', 'harshini', 'anand']

In [72]:
#Temperory sorting
print(sorted(my_students))

['anand', 'ashok', 'harshini', 'ravi']

In [73]:
print(my_students)

['ravi', 'ashok', 'harshini', 'anand']

In [74]:
#how to get the output of the list in the reverse order
cars.reverse()
print(cars)

['toyota', 'maruthi', 'honda', 'bmw', 'benz', 'audi']

In [78]:
#Finding the length of the list
len(my_students)

4

In [77]:
len(cars)

6

In [79]:
my_students.insert(500,'abc')
print(my_students)

['ravi', 'ashok', 'harshini', 'anand', 'abc']