In [1]:
print("Day2 of learning Python Programming")

Hello everyone,welcome to online python programming

In [2]:
#single quote string assignment
nameSingle = 'antony'
print(nameSingle)

antony

In [3]:
#Double quote string assignment
nameDouble = "akbar"
print(nameDouble)

akbar

In [5]:
#Triple quote string assignment
nameTriple = """amar"""
print(nameTriple)

amar

In [6]:
#Finding the datatype of variables used above
type(nameSingle)

str

In [7]:
type(nameDouble)

str

In [8]:
type(nameTriple)

str

In [9]:
#Code enhancement for handing different inputs
full_name = 'sHwetha baviKatti'
print(full_name)

sHwetha baviKatti

In [10]:
#Standard full name format for string
print(full_name.title())

Shwetha Bavikatti

In [11]:
#converting all letters of string to upper case
print(full_name.upper())

SHWETHA BAVIKATTI

In [12]:
#converting all letters of string to lower case
print(full_name.lower())

shwetha bavikatti